@{
    ViewBag.Title = "tutorial";
}

<h1>Temàtica: Escapar de prisión</h1>

<p>
    Usted entrará en una cárcel como si fuese preso, y mediante pistas que va a ir encontrando en las respectivas salas, tendrá que poner un código para escapar de la misma. En el momento que logre escapar de todas, ganará!
</p>

/imagenes del juego/